@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--main-bg-blue: hsl(217, 54%, 11%);
	--card-bg-blue: hsl(216, 50%, 16%);
	--line-blue: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
	--mobile: 375px;
	--desktop: 1440px;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 18px;
	background-color: var(--main-bg-blue);
	min-height: 100vh;
	display: grid;
	place-content: center;
	color: var(--white);
}

.container {
	padding: 0 25px;
	margin: 0 auto;
}

.card {
	width: 345px;
	background-color: var(--card-bg-blue);
	padding: 1.5rem;
	border-radius: 1rem;
	margin-block-end: 7rem;
	box-shadow: 0 2rem 0 1rem hsl(217, 55%, 10%, 0.7),
		0 2rem 0 3rem hsl(216, 57%, 10%, 0.3);
}

.card > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

.card a {
	text-decoration: none;
	color: var(--white);
	cursor: pointer;
}

.card a:hover {
	color: var(--cyan);
}

.card hr {
	border: none;
	border-bottom: 1px solid var(--line-blue);
}

.card__img {
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
}

.card__img img {
	display: block;
	width: 100%;
}

.card__img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
	background-color: hsla(178, 100%, 50%, 0.5);
	opacity: 0;
	cursor: pointer;
	transition: opacity 0.25s;
}

.card__img-overlay:hover {
	opacity: 1;
}

.card__img-overlay img {
	width: 40px;
}

.card__header {
	font-size: 1.5rem;
}

.card__description {
	color: var(--soft-blue);
	font-weight: 300;
}

.card__offer {
	display: flex;
	justify-content: space-between;
}

.card__offer img {
	margin-inline-end: 0.1rem;
}

.card__price {
	color: var(--cyan);
	font-weight: 600;
}

.card__time-remain {
	color: var(--soft-blue);
}

.card__author {
	display: flex;
	align-items: center;
	color: var(--soft-blue);
	font-weight: 400;
}

.card__author img {
	display: block;
	width: 2rem;
	margin-inline-end: 1rem;
	border-radius: 50%;
	box-shadow: 0 0 0 1px var(--white);
}

.card__author a {
	padding-left: 0.5rem;
}
